body {
	font-family: 'Aleo', serif;
	box-sizing: border-box;
}


#add-shape-button {
	display: inline;
}

#add-shape-menu {
	display: inline;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-bottom: 4px;

	font-family: 'Aleo', serif;
	font-size: 1em;
	box-sizing: border-box;
}

.moire-button {
	font-family: 'Aleo', serif;
	font-size: 1em;
}

.moire-button-inline {

	font-family: 'Aleo', serif;
	font-size: 1em;
	display: inline;
}

#concealed-dl-link {
	display: none;
}

#dl-button {
	display:inline;
}

#disabled-radius-field {
	display: block;
}

#disabled-radius-label {
	display: block;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center
}
h4 {
	margin-top: 10px;
	text-align: center
}

input {
	margin: 4px;
	display: block;
}

label {
	font-size: 1em;
	
	padding: 0px 4px;
}

.svg-panel {
	width: 500px;
	float: left;
	border: thin solid grey;

}
.control-panel {

	max-width: 350px;
	min-width:300px;
	float: left;
	border: thin solid grey;

}